<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <button id="btn">11111</button>
  <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.js"></script>
  <script>
    btn.onclick = async function () {
      const res = await axios({
        method: 'GET',
        url: 'http://localhost:3000/test'
      })
      console.log(res)
    }

  </script>
</body>

</html>
